/* mobile responsive starts here */
@media screen and (max-width:576px) {
    /* nav responsive starts here */
    .nav-container{
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
        height: 100%;
        padding-bottom: 4rem;

    }
    .nav-links ul {
        flex-direction: column;
        margin-top: 6rem;
        gap: 2rem;
    }
    .nav-links li,
    .nav-links a {
        font-size: 1.5rem;
    }
    .nav-logo{
        width: auto;
    }
    .nav-logo img{
        width: 4.3rem;
        height: 2rem;        
    }
    .nav-logo h1 {
        font-size: 2.3rem;
        font-weight: 700;
    }
    .nav-links .follow-us{
        width: 26rem;
        justify-content: center;
        align-items: center;
    }
    .nav-links{
        justify-content: center;
    }
    /* nav responsive ends here  */
    /* banner responsive starts here  */

    .banner-container{
        flex-direction: column-reverse;
        gap: 5rem;
        width: 100vw;
        padding: 3rem;
    }
    .gradient-text{
        font-size: 5rem;
    }
    .banner-img{
        width: 100vw;

    }
    .btn-container{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .banner-btn{
        font-size: 1rem;
    }
    .banner-text,.banner-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .banner-text p{
        font-size: 2.4rem;
    }
    
    .banner-text ul{
        font-size: 1rem;
    }
    
    /* we are gamer part responsive starts here  */
    .we-are-gamer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .gamer-img{
        width: 90%;
    }
    .gamer-text{
        width: 100%;
        text-align: center;
        padding: 5rem;
    }
    .gamer-p {
        font-size: 1.2rem;
    }
    .gamer-text .gamer-gradient{
        font-size: 2.5rem;
    }
    .purpose-text p{
        font-size: 1.6rem;
    }
    .purpose-text h1 {
        font-size: 1.7rem;
    }
    /* online games funny videos section starts here  */
    .online-games-videos{
        width: 100vw;
    }
    .video-header-info h1, .video-header-gradient{
        font-size: 1.8rem;
        text-align: center;
        width: 100vw;
    }
    .video-header-info{
        width: 100vw;
    }
    .video-header-info p{
        font-size: 1rem;
        text-align: center;
        width: 100vw;
        margin-top: 1.6rem;
    }
    
    .video img{
        width: 70%;

    }
    .video p{
        text-align:center;
        width: 80%;
        margin: 0 auto;
    }
    .video{
        text-align: center;
        width: 100%;
    }
    .videos{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    :hover.video i{
        top: 15rem;
        right: 19rem;
    }
    /* play instantly section starts here  */
    .play-instantly{
        flex-direction: column;
    }
    .absolute-img {
        position: absolute;
        width: 30%;
        top: 38rem;
        left: 1rem;
    }
    .play-instantly-container{
        width: 100vw;
        margin: 0 auto;
    }
    .play-instantly{
        width: 100%;
        text-align: center;
    }
    .play-instantly-text{
        width: 100%;
        text-align: center;
    }
    .play-instantly-text h1{
        font-size: 2.8rem;
        line-height: 35px;
    }
    .play-instantly-text p {
        font-size: 1.4rem;
        line-height: 21px;
        margin-bottom: 5rem;
    }
    .play-instantly-img{
        width: 100%;
        position: relative;
    }
    .play-instantly-img img {
        width: 70%;
        height: auto;
    }
    /* games catagory section starts here  */
    .games-category-container {
        width: 100%;
        margin: 0 auto 5rem;
    }
    .games-catagory {
        margin-top: 5rem;

    }
    .cat-item{
        width: 1.4rem;
    }
    .cat-item img{
        width: 25%;
    }
    .cat-item h1{
        font-size: 1.6rem;
    }
    /* footer section starts here  */
    footer{
        width: 100vw;   
    }
    .footer-logo img {
        width: 4.5rem;
        height: 3rem;
    }
    
    .footer-logo h1 {
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
    }
    .footer-links{
        width: 80%;
    }
    .more-links{
        width: 100%;
        /* margin: 0 auto 7rem; */
    }
    .more-links ul{
        gap: 2rem;
        justify-content: center;
    }
    .more-links ul li a{
      font-size: 1rem;
    }
    .social-icons .fa-brands{
        font-size: 2.5rem;
    }
    .bottom-text{
        font-size: 0.9rem;
    }
    .footer-links ul{
        gap: 3rem;
    }
    .footer-links ul li a{
        font-size: 1.1rem;
    }


}
/* tablet and small screen laptop view  */
@media (min-width:577px) and (max-width:1440px) {
    .nav-container{
        width: 100%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .nav-links{
        width: 70%;
    } 
    .nav-logo{
        width: 30%;
        /* height: auto; */
        gap: 1rem;
    }
    .nav-logo img{
        width: 20%;
        height: auto;
    }
    .nav-logo h1{
        font-size: 3.5rem;
    }
    .nav-links ul{
        gap: 2rem;
    }
    .nav-links ul a{
        font-size: 1.5rem;
    }
    .follow-us{
        justify-content: space-between;
        align-items: center;
    }
    .follow-us p{
        font-size: 1.5rem;
    }
    .videos{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .play-instantly-container{
        width:100%;
    }
    .play-instantly{
        flex-direction: column;
    }
    .play-instantly-img {
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .play-instantly p{
        margin-bottom: 2rem;
    }

    .absolute-img {
        position: absolute;
        top: 76rem;
        left: 0rem;
        width: 25rem;
        height: auto;
    }
    .banner-container {
        width: 100%;
        height: auto;
        padding: 2rem;
        margin: 0 auto;
        display: flex;
    }
    .gamer-text .gamer-gradient {
        font-size: 3.8rem;
    }
    .we-are-gamer {
        width: 100%;
        padding: 2rem;
    }

    .gamer-img {
        width: 60%;
    }
    .gamer-p {
        font-size: 16px;
        line-height: 2.4rem;
        margin-top: 1.4rem;
    }
    .banner-btn {
        padding: 1.1rem 2rem;
        font-size: 1rem;
        margin-top: 1.1rem;
    }
    .purpose-text p {
        font-size: 1.5rem;
    }
    .purpose-text h1 {
        font-size: 1.8rem;
    }
    .we-are-gamer {
        align-items: center;
    }
    .videos {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .games-catagory {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2.7rem;
    }
    .cat-item {

        justify-content: space-evenly;
    }
    .play-instantly-img img {
        width: 70%;
        height: 65rem;
    }
    .absolute-img {
        top: 76rem;
        left: 18rem;
    }


}
@media (min-width:1025px) and (max-width:1440px) {
    .videos {
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
    }
    .play-instantly {
        flex-direction: row;
    }
    .absolute-img {
        top: 47rem;
        left: 50rem;
    }
    .games-catagory {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2.7rem;
    }
}

@media (min-width:1440px) {
    .absolute-img {
        position: absolute;
        top: 40rem;
        left: 48rem;
    }
    
}