@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

nav{
    width: 100%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
    width: 140rem;
    height: 13rem;
    margin: 0 auto;
    display: flex;
    background: #FFF;
}

.logo-txt {
    color: #ff42a5;
}

.nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-logo img {
    width: 8.6rem;
    height: 4rem;
}

.nav-logo h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.nav-links ul {
    display: flex;
    gap: 3.2rem;
    align-items: center;

}

.nav-links li,
.nav-links a {
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #3C354F;
}

.nav-links .follow-us {
    display: flex;
    gap: 1.6rem;
    padding: 1.7rem 2.4rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-brands{
    font-size: 2.4rem;
}
/* nav section ends here  */
.banner{
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.banner-container{
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.banner-text,.banner-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-text p{
    color: #0B0223;
    font-size: 4rem;
    font-weight: 600;
}
.gradient-text{
    font-size: 7.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text ul{
    text-decoration: none;
    list-style-type: none;
    color: #534C64;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 2.4rem;
}
.btn-container {
    display: flex;
    gap: 2.4rem;
}
.banner-btn{
    padding: 2.1rem 4rem;
    border-radius: 4.8rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    margin-top: 4.1rem;
}
.banner-btn.pink{
    background: #FF42A5;
}
.banner-btn.blue{
    background: #4EC5F7;
}
/* banner image styles here  */
.banner-img img{
    width: 100%;
}

/* we are gamer section starts here  */
.we-are-gamer-container{
   
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.we-are-gamer{
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;


}
.gamer-img{
    width: 60%;
}
.gamer-img img{
    width: 100%;
}
.gamer-text{
    width: 40%;
    text-align: right;
}
.gamer-text .gamer-gradient{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-p{
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 2.4rem;
}
.purpose-text{
    color: #534C64;
    line-height: 4.5rem;
    margin-top: 2.4rem;
}
.purpose-text p{
    font-size: 2.4rem;
    font-weight: 500;
}
.purpose-text h1{
    font-size: 3.2rem;
    font-weight: 700;

}
/* Online Games funny videos starts here  */
.online-games-videos{
    width: 75%;
    height: auto;
    margin: 12rem auto;

}
.online-games-videos h1{
    font-size: 4.8rem;
}
.online-games-videos p{
    font-size: 1.8rem;
}
.video-header-info{
    text-align: center;
    margin-bottom: 4.8rem;
}
.video-header-gradient{
    font-size: 4.8rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.videos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.4rem;
}
.video img{
    margin-bottom: 2.4rem;
    width: 30rem;
}
.video img:hover{
    border: 0.7rem solid #FF42A5;
    border-radius: 2.6rem;
    transition: ease 0.5s;
    opacity: 50%;
}
.video{
    position:relative;
    width: 30rem;
}
.video p{
    font-size: 2rem;
}
:hover.video i{
    position: absolute;
    top: 15rem;
    font-size: 5rem;
    z-index: 1;
    right: 12.5rem;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}
:hover.video{
    opacity: 70%;
    transition: 0.3s;
}
.video i:hover{
    visibility: visible;
}

/* play instantly section styling starts here  */
.play-instantly-container{
    width: 75%;
    height: auto;
    margin: 20rem auto;
}
.play-instantly{
    display: flex;
    align-items: center;
    position: relative;
}
.color-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-text{
    width: 50%;
    text-align: center;
}
.play-instantly-text h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 2.4rem;
}
.play-instantly-text p{
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}
.play-instantly-img{
    width: 50%;
}
.play-instantly-img img{
    width: 100%;
    height: 65rem;
}
.absolute-img{
    position: absolute;
    top: 40rem;
    left: 55rem;
}
/* games catagory section starts here  */
.games-category-container{
    width: 75%;
    height: auto;
    margin: 10rem auto;
    
}
.games-catagory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;

}
.cat-item{
    display: flex;
    min-width: 19rem;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background: #FFF;
    gap: 1rem;
}
:hover.cat-item h1{
    color: #FF42A5;
}
:hover.cat-item{
    border: 1.5px solid #FF42A5;
    border-radius: 5rem;
    justify-content: space-between;
    transition: 0.3s ;
    color: #FF42A5;
}
.cat-item h1{
    color: #0B0223;
    font-size: 1.8rem;
    font-weight: 600;
}
/* footer section starts here  */
footer{
    width: 100%;
    height: auto;
    background: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    
}
.content{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 3.7rem;

}

.footer-logo img {
    width: 8.6rem;
    height: 4rem;
}

.footer-logo h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #fff;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.6rem;
}
.footer-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    list-style: none;
    flex-wrap: wrap;
}
.footer-links ul a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 7.4rem;
    flex-wrap: wrap;
}
.social-icons .fa-brands{
    color: #fff;
    font-size: 4rem;
}
.more-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8rem;
}
.more-links ul{
    display: flex;
    gap: 6rem;
    list-style: none;
    flex-wrap: wrap;
}
.more-links ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.6rem;
    font-weight: 500;
}
.bottom-text{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 3rem;
}